<!DOCTYPE html>
<html>
<head>
  <title>Rumbambar</title>
  <%= stylesheet_link_tag    "rumbambar/application", :media => "all" %>
  <%= javascript_include_tag "rumbambar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
