<div id="main_page" class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Rumbambar</a>
      <ul class="nav">
        <li><a href="#">Dashboard</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Other<b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Stuff</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>
  <div ng-view></div>
</div>