<div id="main_page" class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="<%= @init_data[:namespace] %>">Rumbambar</a>
      <ul class="nav" ng-controller="NavCtrl">
        <li  ng-class="status(model.url)" ng-repeat="model in collection">
          <a ng-href="{{model.url}}">{{model.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-view></div>
</div>
